.katolog__title {
    color: #333;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Helvetica Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.katalog__content {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 58px;
}
.katalog__card {
    padding: 4px 18px 20px 19px;
    width: 250px;
    height: 332px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}
.katalog__item-inner{
    margin: 5px 0;
    color: rgba(0, 0, 0, 0.80);
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.katalog__text{
    color: rgba(51, 51, 51, 0.60);
    font-feature-settings: 'liga' off;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.katalog__bold{
    color: rgba(51, 51, 51, 0.80);
    font-feature-settings: 'liga' off;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
}
.katalog__button {
    margin-top: 23px;
    display: inline-flex;
    padding: 9px 61px 10px 61px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4762FF;
}
.katalog__button-text {
    border: none;
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
